# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
glad/glad.c
build/*
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CPackSourceConfig.cmake
build/DartConfiguration.tcl
build/LabOpenGL
build/.cmake/api/v1/query/client-vscode/query.json
build/CMakeCache.txt
build/compile_commands.json
build/CPackConfig.cmake
build/CTestTestfile.cmake
build/.cmake/api/v1/reply/cache-v2-692593ee0568a217b59b.json
build/.cmake/api/v1/reply/codemodel-v2-517b85fe4f8ffcab7a22.json
build/.cmake/api/v1/reply/target-Continuous-Debug-4e88105e63c3e6ba2e24.json
build/.cmake/api/v1/reply/target-ContinuousConfigure-Debug-ce3f7c1aabd33272da50.json
build/.cmake/api/v1/reply/target-ContinuousStart-Debug-b05facdb9705b93fe16c.json
build/.cmake/api/v1/reply/target-ContinuousSubmit-Debug-d04b9cce091022671153.json
build/.cmake/api/v1/reply/target-Experimental-Debug-dc55398a1e1b45dfc947.json
build/.cmake/api/v1/reply/target-ExperimentalConfigure-Debug-3ee70fe249f95c7392b8.json
build/.cmake/api/v1/reply/target-ExperimentalStart-Debug-ec67fe711839f29675f5.json
build/.cmake/api/v1/reply/target-ExperimentalSubmit-Debug-2887789d2e08e1678bf2.json
build/.cmake/api/v1/reply/target-ExperimentalUpdate-Debug-8b64de62fddad0d61859.json
build/.cmake/api/v1/reply/target-NightlyBuild-Debug-e25fe51135e5b2cf8c7e.json
build/.cmake/api/v1/reply/target-NightlyMemCheck-Debug-cbaafa8bbd796e37a558.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.19.6/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.19.6/CMakeSystem.cmake
build/CMakeFiles/3.19.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.19.6/CompilerIdC/CMakeCCompilerId.c
build/Testing/Temporary/LastTest.log
build/CMakeFiles/3.19.6/CMakeCCompiler.cmake
build/CMakeFiles/3.19.6/CMakeCXXCompiler.cmake
build/CMakeFiles/3.19.6/CMakeDetermineCompilerABI_CXX.bin
build/.cmake/api/v1/reply/target-NightlyUpdate-Debug-cf8c21060623fbd58bf5.json
build/.cmake/api/v1/reply/target-NightlySubmit-Debug-6e67d01e1259e308e329.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-Debug-d3d038c15939b6bcdc87.json
build/.cmake/api/v1/reply/target-NightlyStart-Debug-bd1d824634ef83fb02f2.json
build/.cmake/api/v1/reply/target-NightlyTest-Debug-01f81912d430529c9b92.json
build/.cmake/api/v1/reply/target-NightlyCoverage-Debug-27699c08468337715637.json
build/.cmake/api/v1/reply/target-NightlyConfigure-Debug-21c1f7ca58679dbaef33.json
build/.cmake/api/v1/reply/index-2021-03-08T13-42-58-0402.json
build/.cmake/api/v1/reply/target-ContinuousBuild-Debug-1eb9c4d60304cefba96a.json
build/.cmake/api/v1/reply/target-ContinuousUpdate-Debug-16f57ff100499bfa2419.json
build/.cmake/api/v1/reply/target-ExperimentalCoverage-Debug-5cffb5b07da8d4e1744b.json
build/.cmake/api/v1/reply/target-ContinuousMemCheck-Debug-b4f67192a4a40a7e45c3.json
build/.cmake/api/v1/reply/target-ExperimentalMemCheck-Debug-af4ba528e79a2bc7181b.json
build/.cmake/api/v1/reply/target-ContinuousCoverage-Debug-c890d90fb7c9c1f1e05e.json
build/.cmake/api/v1/reply/target-ContinuousTest-Debug-5077a9ad4b5ea2e6f6f7.json
build/.cmake/api/v1/reply/target-ExperimentalTest-Debug-4769cb6ace4c7dc5acd8.json
build/.cmake/api/v1/reply/target-LabOpenGL-Debug-bf18d72043d798032673.json
build/.cmake/api/v1/reply/target-Nightly-Debug-65e308b747e975c87f59.json
build/.cmake/api/v1/reply/target-ExperimentalBuild-Debug-bd4a326478520bc76abd.json
